:root {
	/* 红色系 */
	--es-c-red-1: #fff1f0;
	--es-c-red-2: #ffccc7;
	--es-c-red-3: #ffa39e;
	--es-c-red-4: #ff7875;
	--es-c-red-5: #ff4d4f;
	--es-c-red-6: #f5222d;
	--es-c-red-7: #cf1322;
	--es-c-red-8: #cf1322;
	--es-c-red-9: #820014;
	--es-c-red-10: #5c0011;
	/* 蓝色系 */
	--es-c-blue-1: #e6f7ff;
	--es-c-blue-2: #bae7ff;
	--es-c-blue-3: #91d5ff;
	--es-c-blue-4: #69c0ff;
	--es-c-blue-5: #40a9ff;
	--es-c-blue-6: #1890ff;
	--es-c-blue-7: #096dd9;
	--es-c-blue-8: #0050b3;
	--es-c-blue-9: #003a8c;
	--es-c-blue-10: #002766;
	/* 橙色系 */
	--es-c-orange-1: #fff7e6;
	--es-c-orange-2: #ffe7ba;
	--es-c-orange-3: #ffd591;
	--es-c-orange-4: #ffc069;
	--es-c-orange-5: #ffa940;
	--es-c-orange-6: #fa8c16;
	--es-c-orange-7: #d46b08;
	--es-c-orange-8: #ad4e00;
	--es-c-orange-9: #873800;
	--es-c-orange-10: #612500;
	/* 绿色系 */
	--es-c-green-1: #f6ffed;
	--es-c-green-2: #d9f7be;
	--es-c-green-3: #b7eb8f;
	--es-c-green-4: #95de64;
	--es-c-green-5: #73d13d;
	--es-c-green-6: #52c41a;
	--es-c-green-7: #389e0d;
	--es-c-green-8: #237804;
	--es-c-green-9: #135200;
	--es-c-green-10: #092b00;
	/* 灰色系 */
	--es-c-gray-1: #fafafa;
	--es-c-gray-2: #f5f5f5;
	--es-c-gray-3: #f0f0f0;
	--es-c-gray-4: #d9d9d9;
	--es-c-gray-5: #bfbfbf;
	--es-c-gray-6: #8c8c8c;
	--es-c-gray-7: #595959;
	--es-c-gray-8: #434343;
	--es-c-gray-9: #262626;
	--es-c-gray-10: #1f1f1f;
	--es-c-gray-11: #141414;

	/* 主题色 */
	--es-c-primary: var(--es-c-blue-6);
	/* 成功颜色 */
	--es-c-success: var(--es-c-green-6);
	/* 警告颜色 */
	--es-c-warning: var(--es-c-orange-6);
	/* 错误颜色 */
	--es-c-error: var(--es-c-red-6);
	/* 信息颜色 */
	--es-c-info: var(--es-c-gray-6);
	/* 主要文字颜色 */
	--es-tc-primary: var(--es-c-gray-10);
	/* 常规文字颜色 */
	--es-tc-regular: var(--es-c-gray-8);
	/* 次要文字颜色 */
	--es-tc-secondary: var(--es-c-info);
	/* 占位文字颜色 */
	--es-tc-placeholder: var(--es-c-gray-4);

	/* 一级边框颜色 */
	--es-bc-base: var(--es-c-gray-4);
	/* 二级边框颜色 */
	--es-bc-light: var(--es-c-gray-3);
	/* 三级边框颜色 */
	--es-bc-lighter: var(--es-c-gray-2);
	/* 四级边框颜色 */
	--es-bc-extra-light: var(--es-c-gray-1);

	/* 基础白色 */
	--es-c-white: #ffffff;
	/* 基础黑色 */
	-es-c-black: #000000;
	/* 基础背景色 */
	--es-bg-base: var(--es-c-gray-2);

	/* 阴影 */
	--es-shaow-1: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
		0 3px 6px 0px rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
	--es-shaow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
		0 6px 16px 0px rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
	--es-shaow-3: 0 6px 16px -8px rgba(0, 0, 0, 0.08),
		0 9px 28px 0px rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);

	/* 按钮大小 */
	--es-btn-s-mini: 4px 8px;
	--es-btn-s-base: 8px 16px;
	--es-btn-s-medium: 12px 24px;
	--es-btn-s-large: 16px 32px;

	/* 圆形按钮小 */
	--es-btn-cs-mini: 6px;
	--es-btn-cs-base: 10px;
	--es-btn-cs-medium: 14px;
	--es-btn-cs-large: 18px;
}
